body
{
	margin-left: 5%;
	margin-right: 5%;
}

button 
{
	height: 50px;
	background-color: grey;
	color: white;
	text-alignalign: center;
	display: inline-block;
	border: none;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
}

button:hover 
{
    background-color: black; /* Blue */
}

input[type=text], input[type=Email], select, textarea
{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    background-color: grey;
    color: white;
    height: 30px;
    border: none;
    text-align: center;
    border-radius: 10px;
}


/* jumbotron section */
.jumbotron
{
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
	background-color: rgb(211,211,211);
}


.jumbotron p
{
	font-family: sans-serif;
	font-size: 20px;
}



.hoverEff:hover
{
	background-color: #111;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: sans-serif;
  font-size: 15px;
  background-color: #efefef;
  text-align: center;
}

#pageTitle
{
	text-align: center;
}

#ulNav
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#liNav
{
	float: left;
}

#liNav a
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;	
}